////////////////////////////////
// Utility Mixins
////////////////////////////////

@mixin transition($effect...) {
	-webkit-transition: $effect;
   	   -moz-transition: $effect;
			transition: $effect;
}